
.cardContainer{
    padding: 5px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width:6in;
    box-shadow:0px 5px 20px rgba(6, 22, 39, 0.849);
    backdrop-filter: blur(5px);
    background-color: var(--bgColor1);
    border-radius: 10px;
    border-width:1px;
    border-style: solid;
    border-color:var( --borderColor1);
    flex: 1 1;
    
}
.cardContainer > img{
    margin: 5px;
    max-width: 5.5in;
    place-self: center center;
    flex: 1 1 1in;
    object-fit: cover; 
    border-radius: 10px;
    border-color: var(--borderColor1);
    border-style: solid;
    height:auto;
}
.cardInnerContainer{
    
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    flex: 1 1 2in;
    background-color: var(--bgColor1);

}
.hover:hover{
    filter: hue-rotate(10);
}