
.cardContainer{  
    justify-content: center;
    align-items:flex-start;
    position: relative;
    max-width:6in;
    min-width: 3in; 
    min-height: 3in;
    backdrop-filter: blur(5px); 
    flex: 1 0;
}
.imgToFillMedia{
    min-height: 3in;
}

.hover:hover{
    filter: hue-rotate(10);
}
.cardLinks{ 
    text-decoration: none;
    transition: all 0.4s;
    transform: scale(1.0);
    display:inline-block;
}

#getitCard{

} 