input:invalid{
    border-color: rgb(255, 16, 16);
}
#contactForm{ 
    flex: 1 1 ;
    padding:2em;
    border-style: solid;
}
#contactFormHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button.contactButton{
    align-self:center;
    border-radius: 5px;
    border-style: none;
    min-width: 6rem;
    height: 2rem;
    transition:transform 0.2s;
}
button.contactButton:hover{
    transform: scale(1.05);
}
button.contactButton:active{
    transform: scale(0.9);
}
.holdingContactInput{
    display: flex;
    justify-content:space-between;
}
.holdingContactInput > input{ 
    margin: 5px;
}
.holdingContactInput > textarea{ 
    margin: 5px; 
    
}
.holdingContactInput > label{ 
    text-align: right;

}
.hideForm > *:not(img){
    display: none;
}
.showForm > *:not(img){
    display: block;
}
.hideForm::before{
    content: 'Attempting To Send';
    display:inline;
    width: 100%;
    height: 100%;
}

.hideForm.showComplete::before{
    content: 'Thanks for the Email!'
}
.hideLoadingImage{
    display: none !important;;
    width:1px;
    height: 1in;
    padding: 0;
    margin:0;
}
.showLoadingImage{
    padding: 10%;
    margin: 0 auto;
    display: block;
    animation: spinning 1s infinite  ;
    animation-timing-function: linear;
}
@keyframes spinning {
    from {transform: rotate(0deg);}    
    to {transform: rotate(360deg);}    
}