.flexBoxCentered {
  width: 100%;
  justify-content:center;
  display:flex;
}
#HeaderContainer{
  shape-rendering:crisp-edges;
  margin-top: 40px;
  position:relative; 
  wrap:nowrap;
  max-height:2.9in;
}
#HeaderFront{
  display:block;
  position: relative;
  top: -100px;
  margin: auto, 0;
  transition: all, 0.5s;
}
#HeaderContainer:hover > #HeaderFront{
  transform:scale(1.2,1.2);
}
#HeaderBg{
  opacity:50%;
  transition: all, 0.6s;
}
#HeaderContainer:hover > #HeaderBg{
  transform:scale(1.1, 1.1);
}
#HeaderContainer::active > img {
  transform: scale(0.9, 0.9);
}