.flexBoxCentered {
  width:100vw;
  justify-content: center;
  display: flex;
}
.headerBackground{
  display: span;
  padding-top: 1in; 
  min-height: 4in;
  background-image:url('./Images/pexels-did.jpg');
  background-size:cover;
  background-attachment: fixed;
}
#HeaderContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 90%;
  shape-rendering:crisp-edges;
  margin-top: 40px;
  max-height: 4in;
}
#HeaderFront{
  position: relative;
  max-width: 4in;
  flex: 1 1;
  bottom: 40%;
  transition: all, 0.5s;
}
#HeaderContainer:hover > #HeaderFront{
  transform:scale(1.2,1.2);
}
#HeaderBg{
   
  position: relative;
 
  flex: 1 1;
  opacity:100%;
  transition: all, 0.6s;
}
#HeaderContainer:hover > #HeaderBg{
  transform:scale(1.1, 1.1);
}
#HeaderContainer::active > img {
  transform: scale(0.9, 0.9);
}