:root{ 
  overflow-x: hidden;
  width: 100vw;
  
}

main { 
  
}
body{
  margin:0;
  background-size:cover;
  font-family: 'Roboto'; 
}
.gridContainer{
  margin: 0 auto; 
}

.getitCard{
  margin: 3em;
}

footer{  
  color: white;
  display: block; 
  z-index: -1; 
  width:100%;  
  margin-top: -5rem;
  padding-top: 10rem;
  background-color:rgb(48, 50, 54);
  text-align: center; 
  grid-area: foot;
  padding-bottom: 6rem;
}