:root{
  --bgColor1:rgb(82, 29, 64);
  --borderColor1:rgb(255, 0, 170);
}

main { 
  margin:0;
  text-align: center;
}

body{
  color:rgb(255, 232, 130);
  background-size:cover;
  background-color:var(--bgColor1);
  font-family: 'Roboto';
  margin:0;
}
.gridContainer{
  display: grid;
  width:100%;
}
#leftBlock{
  flex: 1 1;
  display: flex;
  justify-content: center;
  grid-area:left;
}
#rightBlock{
  grid-area:right;
  margin: 0.2em;
  padding: 3rem;
}
#rightBlock > div{
  border-color:var(--borderColor1);
  border-width: 5px;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bgColor1);
  border-style:dotted;
}
@media only screen and (max-width: 800px) {
  .gridContainer {
    grid-template-areas: 
    "left left"
    "right right"
    "foot foot";
    grid-template-rows:auto 50%;
    grid-template-columns: auto 50%;

  }
}
@media only screen and (min-width: 800px) {
  .gridContainer {
    grid-template-areas: 
    "left right"
    ". right"
    "foot foot";
    grid-template-rows:auto 50%;
    grid-template-columns:auto 50%;
 
  }
}
textarea {
  resize: none;
}
footer{
  text-align: center;
  grid-area: foot;
  margin:3rem;
}
