
/* navBar's styles */
#coloredBarForNav{
  display:flex;
  justify-content:left;
  align-items:center;
  margin:0;
  border-bottom: 2px solid black;
  width:100vw;
  background-color:grey;
}
.navButtonForBar{
  max-height:2.8em;
  line-height:2.8em;
  flex: 1 1;
  font-size: 1em;
  color:white;
  display: inline;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em; 
  vertical-align:center;
  transition:all, 0.2s;
}
.navButtonForBar:hover{
  transform:scale(1.1);
  height:100%;
}
.navButtonForBar:active{
  transform:scale(0.9);
}
.holdingNavDivs{
  flex: 1 1;
  max-width:3in;
}
.flexBoxCentered {
  justify-content:center;
  display:flex;
}