
/* navBar's styles */
#coloredBarForNav{
  display:flex;
  justify-content:left;
  align-items:center;
  margin:0;
  border-bottom: 2px solid black;
  width:100vw;
  background-color:rgba(141, 71, 120, 0.726);
  transition:all, 0.2s;
}

.navMenuButton{
  justify-self: left;
  max-height:2.8em;
  line-height:2.8em;
  font-size: 1em;
  display: inline;
  border-radius: 3px;
  border-style:none;
  background:none;
  padding-left: 0.5em;
  margin-right: 0.5em; 
  vertical-align:center;
  transition:all, 0.2s;
  
}
.navMenuButton > img{
  line-height:2.8em;
  max-width: 2.4em;
  max-height: 2.4em
}
.navMenuButton:hover{
  transform:scale(1.1);
}

.navMenuButton.isOpened{
  filter:brightness(10%); 
}

.navMenuButton:active{
  transform:scale(0.9);
}
.navButtonForBar{
  max-height:2.8em;
  line-height:2.8em;
  flex: 1 1;
  font-size: 1em;
  color:white;
  display: inline;
  border-radius: 3px;
  padding-left: 0.5em;
  padding-right: 0.5em; 
  vertical-align:center;
  transition:all, 0.2s;
}
.navButtonForBar:hover{
  transform:scale(1.1);
  height:100%;
}
.navButtonForBar:active{
  transform:scale(0.9);
}
.holdingNavDivs{
  height: 100%;
  flex: 1 1;
  max-width:3in;
  transition:all 1s;
}
.holdingNavDivs.isOpened{
  transform:translateX(+150vw)!important;
}
#coloredBarForNav.isOpened{
  background-color: transparent;
  border-color: transparent;
}
.flexBoxCentered {
  justify-content:center;
  display:flex;
} 
.pointer{
  cursor:pointer;
}